.messages {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
  &::-webkit-scrollbar {
    border-radius: 20px;       /* закругления плашки */
    width: 5px;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: #464646;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
  }
}